@{
    ViewData["Title"] = "About";
}
    <div class="AboutPage_bg ">
        <h2>@ViewData["Title"]</h2>
        <h3>@ViewData["Message"]</h3>

        <p>
            We have created a web app that allows tenants to find listed houses which can be rented within the area, <br />
            allowing our users to apply for multiple residences with only one apllication.<br />
            Compared to other systems in the market which require a user to apply individually for each property.<br />
            Our web app increases efficiency and allows users to save time for their high volume applications.
        </p>
    </div>
